# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
# created-by: conda 25.3.1
bzip2=1.0.8=hd037594_8
ca-certificates=2025.8.3=hbd8a1cb_0
contourpy=1.3.3=pypi_0
cycler=0.12.1=pypi_0
filelock=3.13.1=pypi_0
fonttools=4.60.1=pypi_0
fsspec=2024.6.1=pypi_0
jinja2=3.1.4=pypi_0
kiwisolver=1.4.9=pypi_0
libffi=3.4.6=h1da3d7d_1
liblzma=5.8.1=h39f12f2_2
liblzma-devel=5.8.1=h39f12f2_2
libsqlite=3.50.4=hf8de324_0
libzlib=1.3.1=h8359307_2
markupsafe=2.1.5=pypi_0
matplotlib=3.10.6=pypi_0
matplotlib-venn=1.1.2=pypi_0
mpmath=1.3.0=pypi_0
ncurses=6.5=h5e97a16_3
networkx=3.5=pyhe01879c_0
numpy=2.1.2=pypi_0
openssl=3.5.3=h5503f6c_1
packaging=25.0=pypi_0
pandas=2.3.3=pypi_0
patsy=1.0.1=pypi_0
pillow=11.0.0=pypi_0
pip=25.2=pyh8b19718_0
pyparsing=3.2.5=pypi_0
python=3.11.0=h3ba56d0_1_cpython
python-dateutil=2.9.0.post0=pypi_0
pytz=2025.2=pypi_0
readline=8.2=h1d1bf99_2
scipy=1.16.2=pypi_0
seaborn=0.13.2=pypi_0
setuptools=80.9.0=pyhff2d567_0
six=1.17.0=pypi_0
statsmodels=0.14.5=pypi_0
sympy=1.13.3=pypi_0
tk=8.6.13=h892fb3f_2
torch=2.4.1=pypi_0
torchaudio=2.4.1=pypi_0
torchvision=0.19.1=pypi_0
tqdm=4.67.1=pypi_0
typing-extensions=4.12.2=pypi_0
tzdata=2025.2=pypi_0
wheel=0.45.1=pyhd8ed1ab_1
xz=5.8.1=h9a6d368_2
xz-gpl-tools=5.8.1=h9a6d368_2
xz-tools=5.8.1=h39f12f2_2
